<footer class="w-full border-t border-oak-border bg-oak-surface">
  <div class="mx-auto max-w-6xl p-6 flex flex-col text-sm">
    <p>Miller Syntax Ltd</p>
    <p>Registered in England &amp; Wales</p>
    <p>Company Number: 16932383</p>
    <p>Registered office: 82A James Carter Road, Mildenhall, IP28 7DE</p>
  </div>
</footer>
